/* ヘッダーの設定 */
.nav {
  padding-top: 50px;
  margin-bottom: 20px;
}

.sitelink {
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #56bf4b;
}
.main_img {
  background-image: url('/img/S__65970339.jpg');
  background-position: cover;
  background-position: center center;
  width: 1000px;
  height: 1000px;
  position: relative;
}
.main_img img {
  object-fit: cover;
  position: absolute;
  right: 0;
}
